body, input, td, th, textarea, select {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10pt;
}

h1 {
	margin: 2px 0;
}

table, th, td {
	border: 0;
	border-collapse: collapse;
	text-align: left;
	vertical-align: top;
}

table.grid,
table.grid th,
table.grid td {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 2px;
}
table.grid th,
table.grid td {
	padding: 5px;
	margin: 5px;
}

div.head {
	border: 2px solid #ff0;
	background-color: #ffa;
	padding: 4px 2px;
	color:#12c;
	border-radius: 8px;
}
div.head div.pplogo {
	float: left;
}
div.head div.menu {
	float: right;
	position: relative;
	top: 14px;
}
div.menu ul {
	list-style-type: none;
    height: 18px;
    padding: 0;
    margin: 0;
}
div.menu ul li {
	float: left;
    padding: 4px 8px;
    margin: 0 5px;
    border: 2px solid #24f;
    border-radius: 5px;
    text-indent: 0;
    background-color: #48f;
    color: #fff;
}
div.menu ul li.active {
	background-color: #ffa;
	border: 0;
}
div.menu ul li a {
    color: #fff;
    text-decoration: none;
}
div.menu ul li.active a {
    color: #48f;
}

div.listmenu {
	width: 800px;
	border: 2px solid #ff0;
	border-radius: 8px;
	padding: 8px;
	margin: 20px 0;
}
div.listmenu div.searchform {
	float: left;
}
div.listmenu div.listmenuitem {
	float:left;
}

div.imgdlg {
	border: 1px solid #ddd;
}
div.imgdlghead {
	border: 1px solid #ddd;
    background-color: #48f;
}
div.imgdlgbody {
	border: 1px solid #ddd;
	height: 130px;
	overflow: hidden;
}


div.imgdlghead ul {
	list-style-type: none;
    height: 16px;
    padding: 0;
    margin: 0;
}
div.imgdlghead ul li {
	float: left;
    padding: 4px 8px;
    text-indent: 0;
    border-left: 1px solid #24f;
    border-top: 1px solid #24f;
    border-right: 1px solid #24f;
    background-color: #48f;
    color: #fff;
}
div.imgdlghead ul li.active {
	background-color: #fff;
    border-bottom: 1px solid #fff;
}
div.imgdlghead ul li a {
    color: #fff;
    text-decoration: none;
}
div.imgdlghead ul li.active a {
    color: #48f;
}
div.imgdlgbody table th {
	width: 70px;
}
div.imgdlgbody.upload iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

div.vscroll {
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}
div.vscroll div.imglistitem {
    padding: 3px;
	width: 100px;
	float: left;
	height: 100px;
}

table.editor th {
	width: 150px;
	text-align: right;
	vertical-align: middle;
	padding: 5px;
	margin: 5px;
}
table.editor td {
	width: 450px;
	padding: 5px;
	margin: 5px;
}

table.searchform {
	width: 550px;
}
table.searchform th {
	width: 100px;
	padding: 0;
}
table.searchform td {
	padding: 0;
}


form {
	margin: 0;
	padding: 0;
}
input[type=text],
input[type=password],
textarea,
select {
	border: 0;
	border-bottom: 2px solid #ddd;
	background-color: #fff;
	padding: 2px 0;
	margin: 5px 0;
	line-height: 20px;
	width: 100%;
	outline: none;
}
input[type=text],
input[type=password],
select[size=1] {
	height: 30px;
	padding: 0;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
	border-color: #44f;
}
input[type=button],
input[type=submit] {
	border: 2px solid #24f;
	border-radius: 5px;
	color: #fff;
	background-color: #48f;
	height: 30px;
	margin: 4px;
	padding: 4px 20px;
	outline: none;
}


.clear {
  clear: both;
}
