body, input, td, th, textarea, select {
  font-family : Verdana, Arial, sans-serif;
  font-size : 10pt;
}

h1 {
	margin: 2px 0;
}

table, th, td {
	border: 0;
	border-collapse: collapse;
	text-align: left;
	vertical-align: top;
}

table.grid,
table.grid th,
table.grid td {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 2px;
}
table.grid th,
table.grid td {
	padding: 5px;
	margin: 5px;
}

div.head {
	border: 2px solid #ff0;
	background-color: #ffa;
	padding: 4px 2px;
	color:#12c;
	border-radius: 8px;
}
div.head div.pplogo {
	float: left;
}
div.head div.menu {
	float: right;
	position: relative;
	top: 22px;
}

div.listmenu {
	width: 800px;
	border: 2px solid #ff0;
	border-radius: 8px;
	padding: 8px;
	margin: 20px 0;
}
div.listmenu div.searchform {
	float: left;
}
div.listmenu div.listmenuitem {
	float:left;
}

table.editor th {
	width: 150px;
	text-align: right;
	vertical-align: middle;
	padding: 5px;
	margin: 5px;
}
table.editor td {
	width: 450px;
	padding: 5px;
	margin: 5px;
}

table.searchform {
	width: 600px;
}
table.searchform th {
	width: 100px;
	padding: 0;
}
table.searchform td {
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}
input[type=text],
input[type=password],
textarea,
select {
	border: 0;
	border-bottom: 2px solid #ddd;
	background-color: #fff;
	padding: 2px 0;
	margin: 5px 0;
	line-height: 20px;
	width: 100%;
	outline: none;
}
input[type=text],
input[type=password],
select[size=1] {
	height: 30px;
	padding: 0;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
	border-color: #44f;
}
input[type=button],
input[type=submit] {
	border: 2px solid #24f;
	border-radius: 5px;
	color: #fff;
	background-color: #48f;
	height: 30px;
	margin: 4px;
	padding: 4px 20px;
	outline: none;
}


.clear {
  clear: both;
}
