body {
  font-family : Verdana, Arial, sans-serif;
  font-size : 12pt;
}

h1 {
	font-size: 16pt;
	margin: 20px 0 5px 0;
	padding: 0;
}

h2 {
	font-size: 14pt;
	margin: 20px 0 5px 0;
	padding: 0;
}

h3 {
	font-size: 12pt;
	margin: 20px 0 5px 0;
	padding: 0;
}

div.head {
	width: 1024px;
	height: 80px;
	position: relative;
	background-color: #eee;
}
div.pagetitle {
	margin: 16px 0 0 0;
	font-size: 20pt;
	font-weight: bold;
	color: #046fb5;
}
div.mainmenu {
	position: absolute;
	bottom: 4px;
}

div.body {
	width: 1024px;
}

div.content {
	width: 800px;
	float: left;
}

div.sidebar {
	width: 224px;
	float: left;
}

div.footer {
	width: 1024px;
	background-color: #eee;
}

div.content div {
	padding: 10px;
}

div.content p {
	display: inline-block;
	line-height: 16pt;
}
div.content img {
	border: 0;
	padding: 10px;
}


.clear {
  clear: both;
}
